# Pandas

**Sumário**

* Pandas: por que e como usar?
* O que é um pandas.Dataframe, pro que importa?
* O que é um pandas.Series, por que importa?
* Operações básicas: describe, mean, sum.
* Acessando e manipulando dados: índices e labels.
* Acessando e manipulando dados: colunas, masks e slices.
* Dados ausentes e duplicados.
* Operações com colunas e vetorização.
* Conclusão e recursos adicionais.

In [1]:
import pandas as pd
# Aqui temos uma estrutura de um dataframe sem utilzar o pandas
ex_dict = {"Nome": ["Aluno1", "Aluno2", "Aluno3", "Aluno4"], "P1": [1.6, 7.5, 9, 5.5], "P2": ["-", 6.5, 8, 8]}

print(ex_dict)

{'Nome': ['Aluno1', 'Aluno2', 'Aluno3', 'Aluno4'], 'P1': [1.6, 7.5, 9, 5.5], 'P2': ['-', 6.5, 8, 8]}

In [2]:
# Agora veremos um dataframe utilizando o pandas apartir de um dicionário.

dataframe = pd.DataFrame.from_dict(ex_dict)
print(dataframe)

     Nome   P1   P2
0  Aluno1  1.6    -
1  Aluno2  7.5  6.5
2  Aluno3  9.0    8
3  Aluno4  5.5    8

In [3]:
# Gerando um dataframe apartir de uma lista de litas.

lista = [["Aluno1", 1.6, "-"], ["Aluno2", 7.5, 6.5], ["Aluno3", 9, 8], ["Aluno4", 5.5, 8]]

dataframe2 = pd.DataFrame(lista, columns= ["Nome", "P1", "P2"])
print(dataframe2)

     Nome   P1   P2
0  Aluno1  1.6    -
1  Aluno2  7.5  6.5
2  Aluno3  9.0    8
3  Aluno4  5.5    8

In [4]:
# Um series pode ser gerado apartir do comando pandas.Series()

#Esse comando retornara os valores da coluna que for explicitado como parâmetro.

series = pd.Series(ex_dict["P1"])
print(series)

0    1.6
1    7.5
2    9.0
3    5.5
dtype: float64

In [5]:
# Abrindo um arquivo externo de planilhas com o comando .read_csv

df = pd.read_csv('ex_pandas_csv.csv', sep= ";")

# Este comando mostra a quantidade de linhas e de colunas.

print(df.shape)

(16, 5)

In [6]:
# Geralmente os DataFrames que são importados de terceiros vem com uma quantidade enorme de dados, então se usa este comando para que assim possa aparecer uma pequena porção deste dados, no caso deste comando como padrão ele mostra as cinco primeiras linhas do DataFrame ou o valor explicitado entre parênteses. 

print(df.head())

     Nome       Sexo   P1   P2 Frequência
0  Aluno1  Masculino  1,6    -        50%
1  Aluno2   Feminino  7,5  6,5        80%
2  Aluno3  Masculino    9    8        90%
3  Aluno4  Masculino  5,5    8        70%
4  Aluno5  Masculino    7    8       100%

In [7]:
# De forma similar ao comando exemplificado anteriormente, o comando .tail ira mostrar as cinco ultimas linhas do DataFrame ou a quantidade que for solicitada como parãmetro. 

print(df.tail())

       Nome       Sexo   P1 P2 Frequência
11  Aluno12   Feminino   10  -        70%
12  Aluno13  Masculino  9,5  9       100%
13  Aluno14   Feminino    8  9        80%
14  Aluno15   Feminino    7  7        80%
15  Aluno15   Feminino    7  7        80%

In [8]:
#O comoando .columns ira mostrar os nomes das colunas do DataFrame e tipo de dados dela.

print(df.columns)

Index(['Nome', 'Sexo', 'P1', 'P2', 'Frequência'], dtype='object')

In [9]:
# Os  comandos são interessantes pois podemos analisar se temos dados duplicados ou faltando, uma vez que ele nos retornar a contagem de dados presente em cada coluna, utilizando dos seguintes identificadores:

# count: Esta linha mostra a contagem de valores não nulos em cada coluna. No seu caso, há 16 observações em todas as colunas,
# o que significa que não há valores ausentes (NaN) em nenhuma das colunas.

# unique: Esta linha mostra o número de valores exclusivos em cada coluna. Por exemplo, na coluna "Nome", há 15 valores exclusivos,
# o que significa que um nome se repete, e na coluna "Sexo", há 2 valores exclusivos (Masculino e Feminino).

# top: Esta linha mostra o valor mais frequente em cada coluna. Por exemplo, na coluna "Nome", "Aluno15" é o valor mais frequente,
# aparecendo duas vezes, e na coluna "Sexo", "Masculino" é o valor mais frequente, aparecendo oito vezes.

# freq: Esta linha mostra a contagem da frequência do valor mais frequente em cada coluna. Por exemplo, na coluna "Nome", "Aluno15" aparece duas vezes,
# e na coluna "Sexo", "Masculino" aparece oito vezes.


print(df.describe())

           Nome       Sexo  P1  P2 Frequência
count        16         16  16  16         16
unique       15          2  10   9          5
top     Aluno15  Masculino   7   8        80%
freq          2          8   4   3          6

In [10]:
# Aqui nos iremos nos deparar com uum problema, pois este comando é o comando que de somar os dados do nosso DataFrame, no entanto por muitas vzes acontecer de recebermos DataFrame de terceiros seus valores podem vir em formato de string, de modo que, ao invés de somar ele ira concatenar os valores. 

print(df.sum())

Nome          Aluno1Aluno2Aluno3Aluno4Aluno5Aluno6Aluno7Alun...
Sexo          MasculinoFemininoMasculinoMasculinoMasculinoFe...
P1                                    1,67,595,57854578109,5877
P2                                     -6,588875,53,547,59-9977
Frequência    50%80%90%70%100%80%90%90%70%80%70%70%100%80%80...
dtype: object

In [11]:
# Trasnormando os valores string em númerais.

# Nestes dois trechos de códigos, trocaremos as vírgulas por pontos com o comando replace junto ao parâmetro regex=True para que substitua dentro de todas as strings e após isto usamos o comando astype para trasnformar os os valores que até então eram strings em valores floats, usando o parâmetro errors="ignore", para ignorar possiveis erros gerados na conversão da string para floats.  

df["P1"] = df["P1"].str.replace(",", ".", regex=True).astype("float", errors="ignore")
df["P2"] = df["P2"].str.replace(",", ".", regex=True).astype("float", errors="ignore")

# Aqui transformaremos todos os valores da coluna P2 e valores númericos e onde não tiver número será completo com o alor NaN(none as numric)
df["P2"] = pd.to_numeric(df["P2"], errors="coerce")

# Na coluna Frequência usarmemos o comando .strip para removermos os símbolo de porcentagem, em seguida os transformaremos em floats e dividiriremos por 100 para continuar a operação dee porcentagem.  
df["Frequência"] = df["Frequência"].str.strip("%").astype("float", errors="ignore") / 100
print(df)
print("-" * 60)
print(df.sum())

       Nome       Sexo    P1   P2  Frequência
0    Aluno1  Masculino   1.6  NaN         0.5
1    Aluno2   Feminino   7.5  6.5         0.8
2    Aluno3  Masculino   9.0  8.0         0.9
3    Aluno4  Masculino   5.5  8.0         0.7
4    Aluno5  Masculino   7.0  8.0         1.0
5    Aluno6   Feminino   8.0  7.0         0.8
6    Aluno7  Masculino   5.0  5.5         0.9
7    Aluno8  Masculino   4.0  3.5         0.9
8    Aluno9   Feminino   5.0  4.0         0.7
9   Aluno10   Feminino   7.0  7.5         0.8
10  Aluno11  Masculino   8.0  9.0         0.7
11  Aluno12   Feminino  10.0  NaN         0.7
12  Aluno13  Masculino   9.5  9.0         1.0
13  Aluno14   Feminino   8.0  9.0         0.8
14  Aluno15   Feminino   7.0  7.0         0.8
15  Aluno15   Feminino   7.0  7.0         0.8
------------------------------------------------------------
Nome          Aluno1Aluno2Aluno3Aluno4Aluno5Aluno6Aluno7Alun...
Sexo          MasculinoFemininoMasculinoMasculinoMasculinoFe...
P1                                                        109.1
P2                                                         99.0
Frequência                                                 12.8
dtype: object

In [12]:
# O comando .mean(numeric_only=True) retorna a média entre os dados númericos.
print(df.mean(numeric_only=True))

P1            6.818750
P2            7.071429
Frequência    0.800000
dtype: float64

# índices e localização dos dados no Dataframe.

Podemos localizar um dado especifico no DataFrame apartir do índice referente a linha desejada, ou do nome de sua coluna.

In [13]:
print(df)

       Nome       Sexo    P1   P2  Frequência
0    Aluno1  Masculino   1.6  NaN         0.5
1    Aluno2   Feminino   7.5  6.5         0.8
2    Aluno3  Masculino   9.0  8.0         0.9
3    Aluno4  Masculino   5.5  8.0         0.7
4    Aluno5  Masculino   7.0  8.0         1.0
5    Aluno6   Feminino   8.0  7.0         0.8
6    Aluno7  Masculino   5.0  5.5         0.9
7    Aluno8  Masculino   4.0  3.5         0.9
8    Aluno9   Feminino   5.0  4.0         0.7
9   Aluno10   Feminino   7.0  7.5         0.8
10  Aluno11  Masculino   8.0  9.0         0.7
11  Aluno12   Feminino  10.0  NaN         0.7
12  Aluno13  Masculino   9.5  9.0         1.0
13  Aluno14   Feminino   8.0  9.0         0.8
14  Aluno15   Feminino   7.0  7.0         0.8
15  Aluno15   Feminino   7.0  7.0         0.8

In [14]:
# Os dados de uma coluna podem serem acessado da seguinte maneira nome_dataframe["nome coluna"] retornando assim um series.

df["P1"]

0      1.6
1      7.5
2      9.0
3      5.5
4      7.0
5      8.0
6      5.0
7      4.0
8      5.0
9      7.0
10     8.0
11    10.0
12     9.5
13     8.0
14     7.0
15     7.0
Name: P1, dtype: float64

In [15]:
# Desta forma podemos trabalhar com operações somente desta coluna do dataframe se for preciso. Por exemplo calculando a média desta coluna com o comando .mean e o seu desvio padrão com o comando .std 

media_col1 = df["P1"].mean()
print(media_col1, type(media_col1))

desvio_padrao_col1 = df["P1"].std()
print("A média da prova 1 foi de {:.2f} e o desvio padrão de {:.2f}".format(media_col1, desvio_padrao_col1))

6.81875 <class 'numpy.float64'>
A média da prova 1 foi de 6.82 e o desvio padrão de 2.17

In [16]:
# O mesmo pode ser feito na coluna P2.

media_col2 = df["P2"].mean()
print(media_col2, type(media_col2))

desvio_padrao_col2 = df["P2"].std()
print("A média da prova 2 foi de {:.2f} e o desvio padrão de {:.2f}".format(media_col2, desvio_padrao_col2))

7.071428571428571 <class 'numpy.float64'>
A média da prova 2 foi de 7.07 e o desvio padrão de 1.73

In [17]:
# Pode-se acessar também mais de uma coluna de uma só vez. 
# Da seguinte maneira: nome_dataframe[[lista com os nomes das colunas]]

print(df[["P1", "P2"]])

      P1   P2
0    1.6  NaN
1    7.5  6.5
2    9.0  8.0
3    5.5  8.0
4    7.0  8.0
5    8.0  7.0
6    5.0  5.5
7    4.0  3.5
8    5.0  4.0
9    7.0  7.5
10   8.0  9.0
11  10.0  NaN
12   9.5  9.0
13   8.0  9.0
14   7.0  7.0
15   7.0  7.0

In [18]:
# Podemos também renomear os nomes das colunas quando  se fazer necessário.
# Para isto utilizamos uma estrutura semelhante a de um dicionário.

# Nome_datafram.rename(columns={"nome_antigo_coluna1" : "nome_novo_coluna1", "nome_antigo_coluna2" : "nome_novo_coluna2"})

dados = df.rename(columns={"Frequência" : "Freq."})
print(dados.head(4))

     Nome       Sexo   P1   P2  Freq.
0  Aluno1  Masculino  1.6  NaN    0.5
1  Aluno2   Feminino  7.5  6.5    0.8
2  Aluno3  Masculino  9.0  8.0    0.9
3  Aluno4  Masculino  5.5  8.0    0.7

In [19]:
# também é comum utilizar slicing para retornar um subconjunto de linhas.
# sendo que a primeira linha começa apartir do índice 0 e o número do ultimo índice não aparcera.

print(dados[0 : 2])

     Nome       Sexo   P1   P2  Freq.
0  Aluno1  Masculino  1.6  NaN    0.5
1  Aluno2   Feminino  7.5  6.5    0.8

In [20]:
# E ao deixarmos em branco antes ou depos dos dois pontos, indica que todos os itens antes ou depois devem serem inclusos.

print(dados[5 : ])
print("-" * 60)
print(dados[ : 3])

       Nome       Sexo    P1   P2  Freq.
5    Aluno6   Feminino   8.0  7.0    0.8
6    Aluno7  Masculino   5.0  5.5    0.9
7    Aluno8  Masculino   4.0  3.5    0.9
8    Aluno9   Feminino   5.0  4.0    0.7
9   Aluno10   Feminino   7.0  7.5    0.8
10  Aluno11  Masculino   8.0  9.0    0.7
11  Aluno12   Feminino  10.0  NaN    0.7
12  Aluno13  Masculino   9.5  9.0    1.0
13  Aluno14   Feminino   8.0  9.0    0.8
14  Aluno15   Feminino   7.0  7.0    0.8
15  Aluno15   Feminino   7.0  7.0    0.8
------------------------------------------------------------
     Nome       Sexo   P1   P2  Freq.
0  Aluno1  Masculino  1.6  NaN    0.5
1  Aluno2   Feminino  7.5  6.5    0.8
2  Aluno3  Masculino  9.0  8.0    0.9

In [21]:
# É possível excluir uma ou mais colunas ou linhas qe não forem necessárias para a nossa análise de dados.
# para isto ussamos a função .drop()

dados.drop(["Nome", "Sexo"], axis=1, inplace=True)

# para isto deve-se colocar os nomes das colunas ou o índice linhas que deseja excluir ao mostrar o dataframe. E também utilizar os parâmetros axis= 1 ou 0 sendo que 1 é para removr as colunas enquanto que 0 é para remover as linhas. Já o argumento inplace faz com que as configurações anteriores sejam aplicadas no objeto atual(nesse caso no dataframe) ao invés de se criar uma cópia do objeto com essas configurações.

print(dados)

      P1   P2  Freq.
0    1.6  NaN    0.5
1    7.5  6.5    0.8
2    9.0  8.0    0.9
3    5.5  8.0    0.7
4    7.0  8.0    1.0
5    8.0  7.0    0.8
6    5.0  5.5    0.9
7    4.0  3.5    0.9
8    5.0  4.0    0.7
9    7.0  7.5    0.8
10   8.0  9.0    0.7
11  10.0  NaN    0.7
12   9.5  9.0    1.0
13   8.0  9.0    0.8
14   7.0  7.0    0.8
15   7.0  7.0    0.8

In [22]:
# Outra coisa que da para se fazer  criar  máscaras(masks). A mascara pode retiornar um valor verdadeiro ou falso, dependndo da condição imposta a ela, e pode criar um subconjunto de dados.

# Por exemplo aqui vamos criar um subconjunto de notas que foram maores que 7 na P1.

mask = dados["P1"] > 7
print(dados[mask])

      P1   P2  Freq.
1    7.5  6.5    0.8
2    9.0  8.0    0.9
5    8.0  7.0    0.8
10   8.0  9.0    0.7
11  10.0  NaN    0.7
12   9.5  9.0    1.0
13   8.0  9.0    0.8

In [23]:
# Podemos aplicar a mais de uma coluna também usando o operador &.
# O operador "&" indica intersecção, onde as duas condições devem ser verdadeiras.

mask = (dados["P1"] > 7) & (dados ["P2"] > 7)

print(dados[mask])

     P1   P2  Freq.
2   9.0  8.0    0.9
10  8.0  9.0    0.7
12  9.5  9.0    1.0
13  8.0  9.0    0.8

In [24]:
# Dados ausentes e duplicados.
#Para se procurar dados ausentes ussa-se os comando isna() e isnull().

df.isna() # retorna True para os dados ausentes.

     Nome   Sexo     P1     P2  Frequência
0   False  False  False   True       False
1   False  False  False  False       False
2   False  False  False  False       False
3   False  False  False  False       False
4   False  False  False  False       False
5   False  False  False  False       False
6   False  False  False  False       False
7   False  False  False  False       False
8   False  False  False  False       False
9   False  False  False  False       False
10  False  False  False  False       False
11  False  False  False   True       False
12  False  False  False  False       False
13  False  False  False  False       False
14  False  False  False  False       False
15  False  False  False  False       False

In [25]:
df.isnull() # retorna True para dados nulos

     Nome   Sexo     P1     P2  Frequência
0   False  False  False   True       False
1   False  False  False  False       False
2   False  False  False  False       False
3   False  False  False  False       False
4   False  False  False  False       False
5   False  False  False  False       False
6   False  False  False  False       False
7   False  False  False  False       False
8   False  False  False  False       False
9   False  False  False  False       False
10  False  False  False  False       False
11  False  False  False   True       False
12  False  False  False  False       False
13  False  False  False  False       False
14  False  False  False  False       False
15  False  False  False  False       False

In [26]:
# Com isto podemos também eliminar as linhas que contem dados nulos ou os dados faltantes de um data frame utilizando o comando .dropna()

sem_na = df.dropna()
print(sem_na)

       Nome       Sexo   P1   P2  Frequência
1    Aluno2   Feminino  7.5  6.5         0.8
2    Aluno3  Masculino  9.0  8.0         0.9
3    Aluno4  Masculino  5.5  8.0         0.7
4    Aluno5  Masculino  7.0  8.0         1.0
5    Aluno6   Feminino  8.0  7.0         0.8
6    Aluno7  Masculino  5.0  5.5         0.9
7    Aluno8  Masculino  4.0  3.5         0.9
8    Aluno9   Feminino  5.0  4.0         0.7
9   Aluno10   Feminino  7.0  7.5         0.8
10  Aluno11  Masculino  8.0  9.0         0.7
12  Aluno13  Masculino  9.5  9.0         1.0
13  Aluno14   Feminino  8.0  9.0         0.8
14  Aluno15   Feminino  7.0  7.0         0.8
15  Aluno15   Feminino  7.0  7.0         0.8

In [27]:
# e podemos subistituí-los por outro valor com o comando fillna(valor desejado, inplace=True).

df.fillna(0, inplace=True)

In [28]:
df

       Nome       Sexo    P1   P2  Frequência
0    Aluno1  Masculino   1.6  0.0         0.5
1    Aluno2   Feminino   7.5  6.5         0.8
2    Aluno3  Masculino   9.0  8.0         0.9
3    Aluno4  Masculino   5.5  8.0         0.7
4    Aluno5  Masculino   7.0  8.0         1.0
5    Aluno6   Feminino   8.0  7.0         0.8
6    Aluno7  Masculino   5.0  5.5         0.9
7    Aluno8  Masculino   4.0  3.5         0.9
8    Aluno9   Feminino   5.0  4.0         0.7
9   Aluno10   Feminino   7.0  7.5         0.8
10  Aluno11  Masculino   8.0  9.0         0.7
11  Aluno12   Feminino  10.0  0.0         0.7
12  Aluno13  Masculino   9.5  9.0         1.0
13  Aluno14   Feminino   8.0  9.0         0.8
14  Aluno15   Feminino   7.0  7.0         0.8
15  Aluno15   Feminino   7.0  7.0         0.8

In [29]:
# E para checar os dados duplicados utlizamos o comando .duplicated(), qu ira retorna True para os dados duplicados e False para os que não forem duplicados.

df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
dtype: bool

In [30]:
# E se usarmos esse comando como uma máscara ele ira retornar as linhas e colunas especificas dos dados duplicados.
print(df[df.duplicated()])

       Nome      Sexo   P1   P2  Frequência
15  Aluno15  Feminino  7.0  7.0         0.8

In [31]:
# Por fim podemos remover esta linha de dados duplicados

df.drop_duplicates(inplace=True)

df

       Nome       Sexo    P1   P2  Frequência
0    Aluno1  Masculino   1.6  0.0         0.5
1    Aluno2   Feminino   7.5  6.5         0.8
2    Aluno3  Masculino   9.0  8.0         0.9
3    Aluno4  Masculino   5.5  8.0         0.7
4    Aluno5  Masculino   7.0  8.0         1.0
5    Aluno6   Feminino   8.0  7.0         0.8
6    Aluno7  Masculino   5.0  5.5         0.9
7    Aluno8  Masculino   4.0  3.5         0.9
8    Aluno9   Feminino   5.0  4.0         0.7
9   Aluno10   Feminino   7.0  7.5         0.8
10  Aluno11  Masculino   8.0  9.0         0.7
11  Aluno12   Feminino  10.0  0.0         0.7
12  Aluno13  Masculino   9.5  9.0         1.0
13  Aluno14   Feminino   8.0  9.0         0.8
14  Aluno15   Feminino   7.0  7.0         0.8

### Operações com colunas e vetorização

In [32]:
# Podemos criar novas colunas baseadas nas colunas já existntes
# Colocando nome_dataframe["nome da nova coluna"] = operação

df["Média Final"] = (df["P1"] + df["P2"]) /2

df

       Nome       Sexo    P1   P2  Frequência  Média Final
0    Aluno1  Masculino   1.6  0.0         0.5         0.80
1    Aluno2   Feminino   7.5  6.5         0.8         7.00
2    Aluno3  Masculino   9.0  8.0         0.9         8.50
3    Aluno4  Masculino   5.5  8.0         0.7         6.75
4    Aluno5  Masculino   7.0  8.0         1.0         7.50
5    Aluno6   Feminino   8.0  7.0         0.8         7.50
6    Aluno7  Masculino   5.0  5.5         0.9         5.25
7    Aluno8  Masculino   4.0  3.5         0.9         3.75
8    Aluno9   Feminino   5.0  4.0         0.7         4.50
9   Aluno10   Feminino   7.0  7.5         0.8         7.25
10  Aluno11  Masculino   8.0  9.0         0.7         8.50
11  Aluno12   Feminino  10.0  0.0         0.7         5.00
12  Aluno13  Masculino   9.5  9.0         1.0         9.25
13  Aluno14   Feminino   8.0  9.0         0.8         8.50
14  Aluno15   Feminino   7.0  7.0         0.8         7.00

In [33]:
# Vetorização é uma operação com toda a coluna em conjunto.
# já usado anteriormente.

#df["P2"] = df["P2"].str..replace(",", ".", regex=True).astype("float", errors="ignore") 
# RELEMBRANDO: df["P2"].str contém um conjunto de funções aplicáveis a string para toda a coluna.
#.astype() converte todos os valores em conjunto

import math

#Series.apply() é outra função que permite modiicar colunas interias.
#.round() é usada da mesma forma
df["N_P2"] = df["P2"].apply(lambda x : math.sqrt(x * 9 + 4)).round(1)

df

       Nome       Sexo    P1   P2  Frequência  Média Final  N_P2
0    Aluno1  Masculino   1.6  0.0         0.5         0.80   2.0
1    Aluno2   Feminino   7.5  6.5         0.8         7.00   7.9
2    Aluno3  Masculino   9.0  8.0         0.9         8.50   8.7
3    Aluno4  Masculino   5.5  8.0         0.7         6.75   8.7
4    Aluno5  Masculino   7.0  8.0         1.0         7.50   8.7
5    Aluno6   Feminino   8.0  7.0         0.8         7.50   8.2
6    Aluno7  Masculino   5.0  5.5         0.9         5.25   7.3
7    Aluno8  Masculino   4.0  3.5         0.9         3.75   6.0
8    Aluno9   Feminino   5.0  4.0         0.7         4.50   6.3
9   Aluno10   Feminino   7.0  7.5         0.8         7.25   8.5
10  Aluno11  Masculino   8.0  9.0         0.7         8.50   9.2
11  Aluno12   Feminino  10.0  0.0         0.7         5.00   2.0
12  Aluno13  Masculino   9.5  9.0         1.0         9.25   9.2
13  Aluno14   Feminino   8.0  9.0         0.8         8.50   9.2
14  Aluno15   Feminino   7.0  7.0         0.8         7.00   8.2

In [34]:
# Outro exemplo.
df["Nova média"] = (df["P1"] + df["N_P2"]) / 2

df

       Nome       Sexo    P1   P2  Frequência  Média Final  N_P2  Nova média
0    Aluno1  Masculino   1.6  0.0         0.5         0.80   2.0        1.80
1    Aluno2   Feminino   7.5  6.5         0.8         7.00   7.9        7.70
2    Aluno3  Masculino   9.0  8.0         0.9         8.50   8.7        8.85
3    Aluno4  Masculino   5.5  8.0         0.7         6.75   8.7        7.10
4    Aluno5  Masculino   7.0  8.0         1.0         7.50   8.7        7.85
5    Aluno6   Feminino   8.0  7.0         0.8         7.50   8.2        8.10
6    Aluno7  Masculino   5.0  5.5         0.9         5.25   7.3        6.15
7    Aluno8  Masculino   4.0  3.5         0.9         3.75   6.0        5.00
8    Aluno9   Feminino   5.0  4.0         0.7         4.50   6.3        5.65
9   Aluno10   Feminino   7.0  7.5         0.8         7.25   8.5        7.75
10  Aluno11  Masculino   8.0  9.0         0.7         8.50   9.2        8.60
11  Aluno12   Feminino  10.0  0.0         0.7         5.00   2.0        6.00
12  Aluno13  Masculino   9.5  9.0         1.0         9.25   9.2        9.35
13  Aluno14   Feminino   8.0  9.0         0.8         8.50   9.2        8.60
14  Aluno15   Feminino   7.0  7.0         0.8         7.00   8.2        7.60